/*reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;


}

body {
  min-height: 100vh;
  background-image: linear-gradient(60deg, #64b3f4, #c2e59c);
  background-repeat: no-repeat;
}


.ermes,
.ermes1,
.offline {
  display: none;
}

.coordinatsResults {
  display: none;
}



/*search weather*/
.searchCard {
  border: none !important;
}

/*Weather Details*/

.card {
  border: none !important;
}

.weatherDetails {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  display: none;
}

.mycard {
  border: none !important;
  border-radius: 20px;
}

.wdegree {
  font-family: Poiret One;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/*weather image*/
.img-fluid {
  max-width: 70%;
}

/*footer*/
.footer {

  background-color: #57606f;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}